body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 1;
  top: 0;
}

header img[alt~="Logo"] {
  margin: 10px auto;
}

header nav {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

header nav ol {
  display: flex;
  margin: 10px;
  padding: 0;
}

header nav ol li {
  list-style-type: none;
  padding: 0 10px;
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

.big-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img-mission-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: center;
}

.big-banner section {
  background-color: black;
  width: 100%;
  padding: 0 10px;
}

.steeping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.steeping div {
  margin: 10px;
}

.steeping div h3 {
  margin: 10px;
}

.locations {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("img-locations-background.jpg");
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locations h2 {
  margin: 15px 0 0 0;
}

.locations div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.locations div section{
  width: 300px;
  background-color: black;
  margin: 15px 40px;
}

.locations div section address p {
  padding: 10px 0;
  font-style: normal;
}
